<%= render 'layouts/partials/navbar'%>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="col-md-12">
        <p id="notice"><%= notice %></p>

        <h1><%=t('activerecord.models.vacation.other')%></h1>
        <div style="margin-bottom: 20px;margin-top: 20px; ">
            <% if can? :create, Salary%>
              <%= link_to t('helpers.submit.create', model: model_name_plural(Vacation)), new_vacation_path, class:'btn btn-primary '%>
            <%end%>
          <button id="btn-rel-salary" class=" btn btn-primary"><%=t('app_common.tables.reload_t')%></button>
          <%# <%= link_to t('app_common.models.users.go_disabled'), disabled_users_index_path, class:'btn btn-primary '%>
        </div>

        <table class="responsive nowrap table table-hover" id="vacations-datatable" data-sort="true" data-source="<%= url_for(format: :json)%>">
          <thead>
            <tr>
              <th><%=Vacation.human_attribute_name(:employe)%></th>
              <th><%=Vacation.human_attribute_name(:laborated_period)%></th>
              <th><%=Vacation.human_attribute_name(:end_of_laborated_period)%></th>
              <th><%=Vacation.human_attribute_name(:exit_day)%></th>
              <th><%=Vacation.human_attribute_name(:entry_day)%></th>
              <th><%=Vacation.human_attribute_name(:last_vacations)%> </th>
              <th><%=Vacation.human_attribute_name(:status)%></th>
              <th><%=t('app_common.tables.options')%></th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  <%=render 'layouts/partials/footer'%>
</div>
