<%= render 'layouts/partials/navbar'%>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="col-md-12">
        <p id="notice"><%= notice %></p>

        <h1><%=t('activerecord.models.contract.other')%></h1>
        <div style="margin-bottom: 20px;margin-top: 20px; ">
          <% if can? :create, Contract%>
            <%= link_to t('helpers.button.add', model: model_name_singular(Contract)), new_contract_path, class:'btn btn-primary '%>
          <%end%>
          <button id="btn-rel-contract" class=" btn btn-primary"><%=t('app_common.tables.reload_t')%></button>
        </div>
        <table  id="contracts-datatable" data-source="<%= contracts_path(format: :json) %>">
          <thead>
            <tr>
              <th><%=Contract.human_attribute_name(:code)%></th>
              <th><%=Contract.human_attribute_name(:contractor)%></th>
              <th><%=Contract.human_attribute_name(:object)%> </th>
              <th><%=Contract.human_attribute_name(:supervisor)%> </th>
              <th><%=Contract.human_attribute_name(:initiation_act)%></th>
              <th><%=Contract.human_attribute_name(:dead_line)%> </th>
              <th><%=Contract.human_attribute_name(:value)%></th>
              <th><%=Contract.human_attribute_name(:executed_value)%></th>
              <th><%=Contract.human_attribute_name(:execution_rate)%></th>
              <th><%=Contract.human_attribute_name(:status)%></th>
              <th><%=t('app_common.tables.options')%></th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  <%=render 'layouts/partials/footer'%>
</div>
