<%= render 'layouts/partials/navbar'%>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="col-md-8">
        <p id="notice"><%= notice %></p>

        <h1><%=t('activerecord.models.maintaince.other')%></h1>
        <div style="margin-bottom: 20px;margin-top: 20px; ">
              <%= link_to t('helpers.button.add', model: model_name_singular(Maintaince)), new_device_maintaince_path, class:'btn btn-primary '%>
              <button id="btn-rel-maintaince" class=" btn btn-primary"><%=t('app_common.tables.reload_t')%></button>
            </div>

        <table id="maintainces-datatable" data-source="<%= device_maintainces_path(format: :json) %>">
          <thead >
            <tr>
             
              <th><%=Maintaince.human_attribute_name(:done_by)%> </th>
              <th><%=Maintaince.human_attribute_name(:name)%></th>
              <th><%=Maintaince.human_attribute_name(:description)%> </th>
              <th><%=Maintaince.human_attribute_name(:date)%></th>
              <th><%=Maintaince.human_attribute_name(:device)%></th>
              <th><%=t('app_common.tables.options')%></th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
          </tbody>
        </table>

      </div> 
    </div>
  </section>
  <%=render 'layouts/partials/footer'%>
</div>
