<section class="user">
  <div class="user_options-container">
    <div class="user_options-text">
      <div class="user_options-unregistered">
        <h2 class="title-ppal"><%=t('app_common.session.company')%></h2>
        <h2 class="user_unregistered-title"><%=t('app_common.session.no_acc')%></h2>
        <p class="user_unregistered-text"><%=t('app_common.session.register')%></p>
        <button class="user_unregistered-signup" id="signup-button"><%=t('app_common.session.sign_up')%></button>
      </div>

      <div class="user_options-registered">
        <h2 class="user_registered-title"><%=t('app_common.session.acc')%></h2>
        <p class="user_registered-text"><%=t('app_common.session.sign_in')%></p>
        <button class="user_registered-login" id="login-button"><%=t('app_common.session.login')%></button>
      </div>
    </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="user_options-forms " id="user_options-forms">
      <%=render 'layouts/partials/language_switcher'%>
      <div class="user_forms-login">
        <h2 class="forms_title"><%=t('app_common.session.login')%></h2>
        <form class="forms_form">
          <fieldset class="forms_fieldset">
            <div class="forms_field">
              <%= f.email_field :email,placeholder: "Email",required: true, autofocus: true, class:"forms_field-input",autocomplete: "email"%>
            </div>
            <div class="forms_field">
              <%= f.password_field :password, autocomplete: "current-password",placeholder: t('activerecord.attributes.user.password'), class:"forms_field-input",required: true%>
            </div>
            <% if devise_mapping.rememberable? %>
          <% end %>
          </fieldset>
          <div class="forms_buttons">
             <%= f.submit t('app_common.session.login'), class:"forms_buttons-action"%>
          </div>
        </form>
      </div>
  <%end%>
      <%= render template: 'users/registrations/get_account'%>
    </div>
  </div>
</section>
