
<div class="card-body">
  <%= form_with(model: device, local: true) do |f| %>
    <% if device.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(device.errors.count, "error") %> prohibited this device from being saved:</h2>

        <ul>
        <% device.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <form class="form-horizontal">
    <div class="form-group row">
      <%= f.label :name,"Nombre de dispositivo", class:"col-sm-3 col-form-label" %>
      <div class="col-sm-8">
        <%= f.text_field :name, autofocus: true, autocomplete: "text" , class:"form-control"%>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :type_of_device, "Tipo de dispositivo", class: "col-sm-3 col-form-label" %>
      <div class="col-sm-8">
        <%= f.select :type_of_device, options_for_type_of_device,{:include_blank => "Seleccione un tipo" }, class:"form-control"%> 
      </div>
    </div>
    <div class="form-group row">
      <%=f.label :number, "Número de dispositivo", class:"col-sm-3 col-form-label"%>
      <div class="col-sm-8">
        <%= f.text_field :number, required: true, autofocus: true, class:"form-control"%>
      </div>
    </div>
    <div class="form-group row">
      <%=f.label :operative_system, "Sistema operativo", class:"col-sm-3 col-form-label"%>
      <div class="col-sm-8">
        <%=f.select :operative_system, options_for_operative_system,{:include_blank=> "Seleccione un sistema operativo"}, class:"form-control"%>
      </div>
    </div>
     <div class="form-group row">
      <%=f.label :processor, "Procesador del dispositivo", class:"col-sm-3 col-form-label"%>
      <div class="col-sm-8">
        <%=f.select :processor, options_for_processor,{:include_blank=> "Seleccione un procesador"}, class:"form-control"%>
      </div>
    </div>
     <div class="form-group row">
      <%=f.label :memory, "Memoria del dispositivo", class:"col-sm-3 col-form-label"%>
      <div class="col-sm-8">
        <%=f.select :memory, options_for_memory,{:include_blank=> "Seleccione cantidad de memoria"}, class:"form-control"%>
      </div>
    </div>
     <div class="form-group row">
      <%=f.label :mac, "Mac del dispositivo", class:"col-sm-3 col-form-label"%>
      <div class="col-sm-8">
        <%= f.text_field :mac, autofocus: true, class:"form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-8">
        <%= f.submit class:"btn btn-primary" %>
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-8">
        <%= link_to "Atrás", :back , class:"btn btn-primary fa fa-arrow-left"%>
      </div>
    </div>
  </form>
  <% end %>
</div><!-- /.card-body -->