<%=render 'layouts/partials/navbar'%>
<div class="center-style-app">
  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h2><%=t('activerecord.models.device.other')%></h2>
            <div class="card card-primary">
              <div class="card-header">
                <h3><%=t('app_common.edits.editing', model: model_name_singular(Device))%> <%=@device.name%></h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool btn-sm" data-card-widget="collapse" data-toggle="tooltip"
                          title="Collapse">
                    <i class="fa fa-minus"></i></button>
                </div>
              </div>
              <div class="card-body">
                <%= form_for(@device, url: {action: 'update'}, html: { method: :put, class: 'form-horizontal' }) do |f| %>
                  <% if @device.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@device.errors.count, "error") %> prohibited this @device from being saved:</h2>

                      <ul>
                      <% @device.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                      </ul>
                    </div>
                  <% end %>
                <form class="form-horizontal">
                  <div class="form-group row">
                    <%= f.label :name,t('activerecord.attributes.device.name'), class:"col-sm-3 col-form-label" %>
                    <div class="col-sm-8">
                      <%= f.text_field :name, autofocus: true, autocomplete: "text" , class:"form-control"%>
                    </div>
                  </div>
                  <div class="form-group row">
                    <%= f.label :type_of_device, t('activerecord.attributes.device.type_of_device'), class: "col-sm-3 col-form-label" %>
                    <div class="col-sm-8">
                      <%= f.select :type_of_device, options_for_type_of_device,{},selected: @device.type_of_device, class:"form-control"%> 
                    </div>
                  </div>
                  <div class="form-group row">
                    <%=f.label :number, t('activerecord.attributes.device.number'), class:"col-sm-3 col-form-label"%>
                    <div class="col-sm-8">
                      <%= f.text_field :number, required: true, autofocus: true, class:"form-control"%>
                    </div>
                  </div>
                  <div class="form-group row">
                    <%=f.label :operative_system,t('activerecord.attributes.device.operative_system'), class:"col-sm-3 col-form-label"%>
                    <div class="col-sm-8">
                      <%=f.select :operative_system, options_for_operative_system,{},selected: @device.operative_system, class:"form-control"%>
                    </div>
                  </div>
                   <div class="form-group row">
                    <%=f.label :processor, t('activerecord.attributes.device.proccesor'), class:"col-sm-3 col-form-label"%>
                    <div class="col-sm-8">
                      <%=f.select :processor, options_for_processor,{}, selected: @device.processor, class:"form-control"%>
                    </div>
                  </div>
                   <div class="form-group row">
                    <%=f.label :memory,t('activerecord.attributes.device.memory'), class:"col-sm-3 col-form-label"%>
                    <div class="col-sm-8">
                      <%=f.select :memory, options_for_memory,{}, selected: @device.memory, class:"form-control"%>
                    </div>
                  </div>
                   <div class="form-group row">
                    <%=f.label :mac, t('activerecord.attributes.device.mac'), class:"col-sm-3 col-form-label"%>
                    <div class="col-sm-8">
                      <%= f.text_field :mac, autofocus: true, class:"form-control" %>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="offset-sm-2 col-sm-8">
                      <%= f.submit t('helpers.submit.update', model: model_name_singular(Device)), class:"btn btn-primary" %>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="offset-sm-2 col-sm-8">
                      <%= link_to t('helpers.button.back'), :back , class:"btn btn-primary fa fa-arrow-left"%>
                    </div>
                  </div>
                </form>
                <% end %>
              </div><!-- /.card-body -->
            </div>
            <!-- /.nav-tabs-custom -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
    <%=render 'layouts/partials/footer'%>
  </div>
</div>
    

