<%= render 'layouts/partials/navbar'%>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="col-md-12">
        <p id="notice"><%= notice %></p>

        <h1><%=t('activerecord.models.device.other')%></h1>
        <div style="margin-bottom: 20px;margin-top: 20px; ">
          <%= link_to t('helpers.button.add', model: model_name_singular(Device)), new_device_path, class:'btn btn-primary '%>
          <button id="btn-rel-device" class=" btn btn-primary"><%=t('app_common.tables.reload_t')%></button>
        </div>
        <table id="devices-datatable" data-source="<%= devices_path(format: :json) %>">
          <thead>
            <tr>
              <th><%=Device.human_attribute_name(:owner)%></th>
              <th><%=Device.human_attribute_name(:name)%></th>
              <th><%=Device.human_attribute_name(:type_of_device)%> </th>
              <th><%=Device.human_attribute_name(:number)%> </th>
              <th><%=Device.human_attribute_name(:operative_system)%></th>
              <th><%=Device.human_attribute_name(:processor)%> </th>
              <th><%=Device.human_attribute_name(:memory)%></th>
              <th><%=Device.human_attribute_name(:mac)%></th>
              <th><%=t('app_common.tables.options')%></th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div> 
    </div>
  </section>
  <%=render 'layouts/partials/footer'%>
</div>
