<%=render 'layouts/partials/navbar'%>
<div class="content-wrapper">
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-9">
          <h2>Dispositivos</h2>
          <div class="card card-primary">
            <div class="card-header">
              <h3>Información del  dispositivo <%=@device.name%> </h3>
              <div class="card-tools">
                  <i class="fa fa-sync-alt"></i></button>
                <button type="button" class="btn btn-tool btn-sm" data-card-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                  <i class="fa fa-minus"></i></button>
              </div>
            </div>
            <div class="card-body">
              <p id="notice"><%= notice %></p>
              <form class="form-horizontal">
                <div class="form-group row">
                  <div class= "col-sm-4 col-form-label">
                    <%= "<strong>Usuario del dispositivo</strong>".html_safe%>
                  </div>
                  <div class=" col-sm-7">
                    <div class="form-control">
                      <%= @device.user.full_name%>
                    </div> 
                  </div>
                </div>
                <div class="form-group row">
                  <div class= "col-sm-4 col-form-label">
                    <%= "<strong>Nombre de dispositivo</strong>".html_safe%>
                  </div>
                  <div class=" col-sm-7">
                    <div class="form-control">
                      <%= @device.name%>
                    </div> 
                  </div>
                </div>
                <div class="form-group row">
                  <div class= "col-sm-4 col-form-label">
                    <%= "<strong>Tipo de dispositivo</strong>".html_safe%>
                  </div>
                  <div class=" col-sm-7">
                    <div class="form-control">
                      <%= @device.type_of_device%>
                    </div> 
                  </div>
                </div>
                <div class="form-group row">
                  <div class= "col-sm-4 col-form-label">
                    <%= "<strong>Número de dispositivo</strong>".html_safe%>
                  </div>
                  <div class=" col-sm-7">
                    <div class="form-control">
                      <%= @device.number%>
                    </div> 
                  </div>
                </div>
                <div class="form-group row">
                  <div class= "col-sm-4 col-form-label">
                    <%= "<strong>Sistema operativo</strong>".html_safe%>
                  </div>
                  <div class=" col-sm-7">
                    <div class="form-control">
                      <%= @device.operative_system%>
                    </div> 
                  </div>
                </div>
                <div class="form-group row">
                  <div class= "col-sm-4 col-form-label">
                    <%= "<strong>Procesador del dispositivo</strong>".html_safe%>
                  </div>
                  <div class=" col-sm-7">
                    <div class="form-control">
                      <%= @device.processor%>
                    </div> 
                  </div>
                </div>
                <div class="form-group row">
                  <div class= "col-sm-4 col-form-label">
                    <%= "<strong>Memoria del dispositivo</strong>".html_safe%>
                  </div>
                  <div class=" col-sm-7">
                    <div class="form-control">
                      <%= @device.memory%>
                    </div> 
                  </div>
                </div>
                <div class="form-group row">
                  <div class= "col-sm-4 col-form-label">
                    <%= "<strong>Mac del dispositivo</strong>".html_safe%>
                  </div>
                  <div class=" col-sm-7">
                    <div class="form-control">
                      <%= @device.mac%>
                    </div> 
                  </div>
                </div>
                <div class="form-group row">
                  <div class="offset-sm-2 col-sm-3">
                    <%= link_to "Atrás", :back , class:"btn btn-primary fa fa-arrow-left"%>
                  </div>
                  <div class=" col-sm-3">
                    <%= link_to 'Editar', edit_device_path(@device), class:"btn btn-primary fa fa-edit" %>
                  </div>
                  <div class="col-sm-3">
                    <%=link_to 'ver mantenimientos', device_maintainces_path(@device),class:"btn btn-primary fa fa-cog"%>
                  </div>
                </div>
              </form>
            </div><!-- /.card-body -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
