<div id="disabled-user" style="display: none;"></div>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="col-md-8">
        <p id="notice"><%= notice %></p>

        <h1><%=t('devise.failure.locked')%></h1>
        <div style="margin-bottom: 20px;margin-top: 20px; ">
              <%= link_to t('helpers.button.add', model: model_name_singular(Maintaince)), new_device_maintaince_path, class:'btn btn-primary '%>
              <%= link_to t('app_common.navbar.close_session'), destroy_user_session_path , method: :delete ,style:"font-size: 1.5rem;"%>
              <button id="btn-rel-maintaince" class=" btn btn-primary"><%=t('app_common.tables.reload_t')%></button>
        </div>
      </div> 
    </div>
  </section>

</div>