<%=render 'layouts/partials/navbar'%>
<div class="center-style-app">
	<div class="content-wrapper">
	<!-- Main content -->
		<section class="content">
		  <div class="container-fluid">
		    <div class="row">
		      <div class="col-md-12">
		        <h2><%=t('activerecord.models.event.other')%></h2>
		        <div class="card card-primary">
		          <div class="card-header">
		            <h3><%=t('app_common.edits.editing', model: model_name_singular(Event))%> <%=@event.title%></h3>
		            <div class="card-tools">
		              <button type="button" class="btn btn-tool btn-sm" data-card-widget="collapse" data-toggle="tooltip"
		                      title="Collapse">
		                <i class="fa fa-minus"></i></button>
		            </div>
		          </div>
		          <div class="card-body">
					  <%= form_with(model: @event, local: true) do |f| %>
					    <% if @event.errors.any? %>
					      <div id="error_explanation">
					        <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
					        <ul>
					        <% @event.errors.full_messages.each do |message| %>
					          <li><%= message %></li>
					        <% end %>
					        </ul>
					      </div>
					    <% end %>
					  <form class="form-horizontal">
					    <div class="form-group row">
					      <%= f.label :title,t('activerecord.attributes.event.title'), class:"col-sm-3 col-form-label" %>
					      <div class="col-sm-8">
					        <%= f.text_field :title, autofocus: true, autocomplete: "text" , class:"form-control"%>
					      </div>
					    </div>
					    <div class="form-group row">
					      <%= f.label :description,t('activerecord.attributes.event.description'), class: "col-sm-3 col-form-label" %>
					      <div class="col-sm-8">
					        <%= f.cktext_area :description,autofocus: true, class:"form-control",ckeditor: {language: session[:selected_language]}%>
					      </div>
					    </div>
					    <div class="form-group row">
					      <%=f.label :start_date,t('activerecord.attributes.event.start_date'), class:"col-sm-3 col-form-label"%>
					      <div class="col-sm-8">
					        <%= f.datetime_select :start_date, {required: true, autofocus: true,:start_year => 2021}, class:'form-control'%>
					      </div>
					    </div>
					    <div class="form-group row">
					      <%=f.label :end_date,t('activerecord.attributes.event.end_date'), class:"col-sm-3 col-form-label"%>
					      <div class="col-sm-8">
					        <%= f.datetime_select :end_date,{required: true, autofocus: true,:start_year => 2021}, class:'form-control ' %>
					      </div>
					    </div>
					    <div class="form-group row">
					        <%=f.label :members,t('activerecord.attributes.event.members'), class:"col-sm-3 col-form-label"%>
					      <div class="col-sm-8">
					        <%=f.select :members, options_for_select(@users.collect{|x| [x.full_name]}, selected: @current_event),{}, multiple: 'multiple', class:"col-sm-12 select2bs4"%>
					      </div>
					    </div>
					    <div class="form-group row">
					      <div class="offset-sm-2 col-sm-8">
					        <%= f.submit t('helpers.submit.update', model: model_name_singular(Event)), class:"btn btn-primary" %>
					      </div>
					    </div>
					    <div class="form-group row">
					      <div class="offset-sm-2 col-sm-8">
					        <%= link_to t('helpers.button.back'), :back , class:"btn btn-primary fa fa-arrow-left"%>
					      </div>
					    </div>
					  </form>
					  <% end %>
					</div>
		        </div>
		        <!-- /.nav-tabs-custom -->
		      </div>
		      <!-- /.col -->
		    </div>
		    <!-- /.row -->
		  </div><!-- /.container-fluid -->
		</section>
	<!-- /.content -->
	<%=render 'layouts/partials/footer'%>
	</div>
</div>



<%= link_to t('helpers.submit.show'), @event %> |
<%= link_to t('helpers.button.back'), events_path %>
