<%=render 'layouts/partials/navbar'%>
<div class="center-style-app">
  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h2><%=t('activerecord.models.event.other')%></h2>
            <p id="notice"><%= notice %></p>
            <div style="margin-bottom: 20px;margin-top: 20px; ">
              <%= link_to t('helpers.submit.create', model: model_name_singular(Event)), new_event_path, class:'btn btn-primary '%>
            </div>
            <div class="card card-primary">
              <div class="card-header">
                <h3><%=t('activerecord.models.event.other')%> Aguas del Páramo de Sonsón</h3>
                <div class="card-tools">
                    <i class="fa fa-sync-alt"></i></button>
                  <button type="button" class="btn btn-tool btn-sm" data-card-widget="collapse" data-toggle="tooltip"
                          title="Collapse">
                    <i class="fa fa-minus"></i></button>
                </div>
              </div>
              <div class="card-body">
              <div id="calendar"></div>
              </div><!-- /.card-body -->
            </div>
            <!-- /.nav-tabs-custom -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
    <%=render 'layouts/partials/footer'%>
  </div>
</div>
    
