<%=render 'layouts/partials/navbar'%>
<div class="center-style-app">
  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h2><%=t('activerecord.models.event.other')%></h2>
            <p id="notice"><%= notice %></p>
            <div class="card card-primary">
              <div class="card-header">
                <h3><%=t('app_common.event.information')%> <%=@event.title%> </h3>
                <div class="card-tools">
                    <i class="fa fa-sync-alt"></i>
                  <button type="button" class="btn btn-tool btn-sm" data-card-widget="collapse" data-toggle="tooltip"
                          title="Collapse">
                    <i class="fa fa-minus"></i></button>
                </div>
              </div>
              <div class="card-body">
                <form class="form-horizontal">
                  <div class="form-group row">
                    <div class= "col-sm-4 col-form-label">
                      <strong><%= t('activerecord.attributes.event.title')%></strong>
                    </div>
                    <div class=" col-sm-7">
                      <div class="form-control">
                        <%= @event.title%>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class= "col-sm-4 col-form-label">
                      <strong><%=t('activerecord.attributes.event.description')%></strong>
                    </div>
                    <div class=" col-sm-7">
                      <div >
                        <textarea class="form-control" rows="2" placeholder="<%= @event.description %>" disabled></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class= "col-sm-4 col-form-label">
                      <strong><%= t('activerecord.attributes.event.start_date')%></strong>
                    </div>
                    <div class=" col-sm-7">
                      <div class="form-control">
                        <%= @event.start_date%>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class= "col-sm-4 col-form-label">
                      <strong><%= t('activerecord.attributes.event.end_date')%></strong>
                    </div>
                    <div class=" col-sm-7">
                      <div class="form-control">
                        <%= @event.end_date%>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class= "col-sm-4 col-form-label">
                      <strong><%=t('activerecord.attributes.event.members')%></strong>
                    </div>
                    <div class=" col-sm-7">
                      <div class="">
                        <%=select_tag :members, options_for_select(@users.collect{|x| [x.full_name]}, selected: @current_event), multiple: 'multiple', class:"col-sm-12 select2bs4", disabled: true%>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class= "col-sm-4 col-form-label">
                      <strong><%=t('activerecord.attributes.event.created_by')%></strong>
                    </div>
                    <div class=" col-sm-7">
                      <div class="form-control">
                        <strong><%= @event.user.full_name%></strong>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="offset-sm-2 col-sm-2">
                      <%= link_to t('helpers.button.back'), :back , class:"btn btn-primary fa fa-arrow-left"%>
                    </div>
                    <div class=" col-sm-1">
                      <%= link_to t('helpers.button.edit'), edit_event_path(@event), class:"btn btn-primary fa fa-edit" %>
                    </div>
                    <div class="offset-sm-2 col-sm-2">
                      <%=link_to t('activerecord.models.event.other'), events_path(),class:"btn btn-primary fa fa-cog"%>
                    </div>
                  </div>
                </form>
              </div><!-- /.card-body -->
            </div>
            <!-- /.nav-tabs-custom -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
    <%=render 'layouts/partials/footer'%>
  </div>
</div>
