<%=render 'layouts/partials/navbar'%>
<div class="center-style-app">
  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h2><%=t('activerecord.models.salary.other')%></h2>
            <div class="card card-primary">
              <div class="card-header">
                <h3><%=t('app_common.edits.editing_for', model: model_name_singular(Salary))%> <%=@user_full_name%></h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool btn-sm" data-card-widget="collapse" data-toggle="tooltip"
                          title="Collapse">
                    <i class="fa fa-minus"></i></button>
                </div>

              </div>
              <div class="card-body">
                <%= form_with(model: @salary, local: true) do |f| %>
                  <% if @salary.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(salary.errors.count, "error") %> prohibited this salary from being saved:</h2>

                      <ul>
                      <% @salary.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                      </ul>
                    </div>
                  <% end %>
                  <form class="form-horizontal">
                    <div class="form-group row">
                      <%= f.label :type_of_salary ,t('activerecord.attributes.salary.type_of_salary'), class:"col-sm-3 col-form-label" %>
                      <div class="col-sm-8">
                          <%= f.select :type_of_salary, options_for_type_of_salary,{},selected: @salary.type_of_salary, class:"form-control"%>
                      </div>
                    </div>
                    <div class="form-group row">
                      <%= f.label :social_benefits ,t('activerecord.attributes.salary.social_benefits'), class:"col-sm-3 col-form-label" %>
                      <div class="col-sm-8">
                        <%= f.number_field :social_benefits, class:"form-control"%>
                      </div>
                    </div>
                    <div class="form-group row">
                      <%= f.label :basic_hour ,t('activerecord.attributes.salary.basic_hour'), class:"col-sm-3 col-form-label" %>
                      <div class="col-sm-8">
                        <%= f.number_field :basic_hour, class:"form-control"%>
                      </div>
                    </div>
                    <div class="form-group row">
                      <%= f.label :basic_day ,t('activerecord.attributes.salary.basic_day'), class:"col-sm-3 col-form-label" %>
                      <div class="col-sm-8">
                        <%= f.number_field :basic_day, class:"form-control"%>
                      </div>
                    </div>
                    <div class="form-group row">
                      <%= f.label :basic_month ,t('activerecord.attributes.salary.basic_month'), class:"col-sm-3 col-form-label" %>
                      <div class="col-sm-8">
                        <%= f.number_field :basic_month, class:"form-control"%>
                      </div>
                    </div>
                    <div class="form-group row">
                      <%= f.label :average_payment ,t('activerecord.attributes.salary.average_payment'), class:"col-sm-3 col-form-label" %>
                      <div class="col-sm-8">
                        <%= f.number_field :average_payment, class:"form-control"%>
                      </div>
                    </div>
                    <div class="form-group row">
                      <%= f.label :last_basic ,t('activerecord.attributes.salary.last_basic'), class:"col-sm-3 col-form-label" %>
                      <div class="col-sm-8">
                        <%= f.number_field :last_basic, class:"form-control"%>
                      </div>
                    </div>
                    <div class="form-group row">
                      <%=f.label :last_increase_date, t('activerecord.attributes.salary.last_increase_date'), class:"col-sm-3 col-form-label"%>
                      <div class="col-sm-8">
                        <%= f.date_select :last_increase_date, {required: true, autofocus: true,:start_year => 2020}, class:'form-control'%>
                      </div>
                    </div>
                    <div class="form-group row">
                      <%= f.label :way_to_pay ,t('activerecord.attributes.salary.way_to_pay'), class:"col-sm-3 col-form-label" %>
                      <div class="col-sm-8">
                        <%= f.select :way_to_pay, options_for_way_to_pay,{},selected: @salary.way_to_pay, class:"form-control"%>
                      </div>
                    </div>
                    <div class="form-group row">
                      <%= f.label :bank ,t('activerecord.attributes.salary.bank'), class:"col-sm-3 col-form-label" %>
                      <div class="col-sm-8">
                        <%= f.select :bank, options_for_bank,{},selected: @salary.bank, class:"form-control"%>
                      </div>
                    </div>
                    <div class="form-group row">
                      <%= f.label :bank_number ,t('activerecord.attributes.salary.bank_number'), class:"col-sm-3 col-form-label" %>
                      <div class="col-sm-8">
                        <%= f.text_field :bank_number, autofocus: true, autocomplete: "text" , class:"form-control"%>
                      </div>
                    </div>
                    <div class="form-group row">
                      <%= f.label :type_of_bank_account ,t('activerecord.attributes.salary.type_of_bank_account'), class:"col-sm-3 col-form-label" %>
                      <div class="col-sm-8">
                        <%= f.select :type_of_bank_account, options_for_type_of_bank_account,{}, selected: @salary.type_of_bank_account, class:"form-control"%>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="offset-sm-2 col-sm-8">
                        <%= f.submit t('helpers.submit.update', model: model_name_singular(Salary)), class:"btn btn-primary" %>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="offset-sm-2 col-sm-8">
                        <%= link_to t('helpers.button.back'), :back , class:"btn btn-primary fa fa-arrow-left"%>
                      </div>
                    </div>
                  </form>
                  <% end %>
                </div><!-- /.card-body -->
              </div>
              <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
      <%=render 'layouts/partials/footer'%>
  </div>
</div>
