<%= render 'layouts/partials/navbar'%>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="col-md-12">
        <p id="notice"><%= notice %></p>

        <h1><%=t('activerecord.models.salary.other')%></h1>
        <div style="margin-bottom: 20px;margin-top: 20px; ">
          <% if can? :create, Salary%>
            <%= link_to t('helpers.button.add', model: model_name_singular(Salary)), new_salary_path, class:'btn btn-primary '%>
          <%end%>
        </div>
        <table  class ="col-md-9" id="salaries-datatable" data-source="<%= salaries_path(format: :json) %>">
          <thead >
            <tr>
              <th><%=Salary.human_attribute_name(:employe)%></th>
              <th><%=Salary.human_attribute_name(:type_of_salary)%></th>
              <th><%=Salary.human_attribute_name(:basic_hour)%> </th>
              <th><%=Salary.human_attribute_name(:basic_day)%> </th>
              <th><%=Salary.human_attribute_name(:basic_month)%></th>
              <th><%=Salary.human_attribute_name(:average_payment)%> </th>
              <th><%=Salary.human_attribute_name(:last_basic)%></th>
              <th><%=Salary.human_attribute_name(:last_increase_date)%></th>
              <th><%=Salary.human_attribute_name(:bank)%></th>
              <th><%=t('app_common.tables.options')%></th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  <%=render 'layouts/partials/footer'%>
</div>
<script>
  document.addEventListener('turbolinks:load', function() {
    salariesdt.ajax_datatable('#salaries-datatable');
  });
</script>
