<!DOCTYPE html>
<html>
  <head>
    
    <title>Aps</title>
     <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body >
    <div class="wrapper">
      <%= yield %>
       <div id='remote_container'></div>
    </div>
  </body>
</html>
