<%=render 'layouts/partials/navbar'%>
<div class="center-style-app">
  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9">
            <h2><%=t('app_common.navbar.profile.edit_profile')%></h2>
            <div class="card card-primary">
              <div class="card-header">
                <h3><%=t('app_common.navbar.profile.prof')%></h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool btn-sm" data-card-widget="collapse" data-toggle="tooltip"
                          title="Collapse">
                    <i class="fa fa-minus"></i></button>
                </div>
              </div>
              <div class="card-body">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                  <%= render "devise/shared/error_messages", resource: resource %>
                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                    <div>Esperando confirmación de: <%= resource.unconfirmed_email %></div>
                  <% end %>
                <form class="form-horizontal">
                  <div class="form-group row">
                    <%= f.label :full_name,t('activerecord.attributes.user.full_name'), class:"col-sm-3 col-form-label" %>
                    <div class="col-sm-8">
                      <%= f.text_field :full_name, autofocus: true, autocomplete: "text" , class:"form-control"%>
                    </div>
                  </div>
                  <div class="form-group row">
                    <%= f.label :email,t('activerecord.attributes.user.email'), class: "col-sm-3 col-form-label" %>
                    <div class="col-sm-8">
                      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                    </div>
                  </div>
                  <div class="form-group row">
                    <%=f.label :type_of_id,t('activerecord.attributes.user.type_of_id'), class:"col-sm-3 col-form-label"%>
                    <div class="col-sm-8">
                      <%= f.select :type_of_id, options_for_type_of_document,{},selected: resource.type_of_id, autofocus: true, class:"form-control"%>
                    </div>
                  </div>
                  <div class="form-group row">
                    <%=f.label :number_of_id,t('activerecord.attributes.user.number_of_id'), class:"col-sm-3 col-form-label"%>
                    <div class="col-sm-8">
                    <%= f.text_field :number_of_id,required: true, autofocus: true, class:"form-control" %>
                    </div>
                  </div>
                   <div class="form-group row">
                    <%=f.label :position,t('activerecord.attributes.user.position'), class:"col-sm-3 col-form-label"%>
                    <div class="col-sm-8">
                    <%= f.select :position,options_for_position,{},selected: resource.position, autofocus: true, class:"form-control"%>
                    </div>
                  </div>
                   <div class="form-group row">
                    <%=f.label :telephone, t('activerecord.attributes.user.telephone'), class:"col-sm-3 col-form-label"%>
                    <div class="col-sm-8">
                    <%= f.text_field :telephone, autofocus: true, class:"form-control" %>
                    </div>
                  </div>
                   <div class="form-group row">
                    <%=f.label :date_of_birth,t('activerecord.attributes.user.date_of_birth'), class:"col-sm-3 col-form-label"%>
                    <div class="col-sm-8">
                    <%= f.date_field :date_of_birth,min: "01-01-1950",value: resource.date_of_birth, autofocus: true, class:"form-control"%>
                    </div>
                  </div>
                  <div class="form-group row">
                    <%=f.label :working_since,t('activerecord.attributes.user.working_since'), class:"col-sm-3 col-form-label"%>
                    <div class="col-sm-8">
                    <%= f.date_field :working_since,min:"01-01-2013",value: resource.working_since, autofocus: true, class:"form-control" %>
                    </div>
                  </div>
                  <div class="form-group row">
                    <%= f.label :current_password,t('activerecord.attributes.user.current_password'), class:"col-sm-3 col-form-label"%>
                    <div class="col-sm-7">
                      <%= f.password_field :current_password, autocomplete: t('activerecord.attributes.user.current_password'),class:"form-control" %>
                      <i><%=t('devise.registrations.edit.we_need_your_current_password_to_confirm_your_changes')%></i>
                    </div>
                    <div class="">
                      <span toggle="#password-field" class=" fa-2x  fa fa-eye  current-psd"></span>
                    </div>
                  </div>
                  <div class="offset-sm-10 col-sm-2">
                    <button  id= "btn-psd" class="btn btn-primary">
                      <i class="fa fa-plus"></i>
                    </button>
                  </div>
                  <br>
                  <div class="pass-fields" style="display: none;">
                    <div class="form-group row">
                      <%= f.label :password, t('activerecord.attributes.user.password'), class:"col-sm-3 col-form-label"  %>
                      <div class="col-sm-7">
                        <%= f.password_field :password, autocomplete: t('activerecord.attributes.user.password'), class:"form-control" %><i>(<%=t('devise.registrations.edit.leave_blank_if_you_don_t_want_to_change_it')%></i>
                        <% if @minimum_password_length %>
                          <em><%= @minimum_password_length %> <%=t('%{@minimum_password_length} device.shared.minimum_password_length')%></em>
                        <% end %>
                      </div>
                      <div class="">
                      <span  class=" fa-2x  fa fa-eye  new-psd"></span>
                    </div>
                    </div style= "padding-top: 10px ;">
                     <div class="form-group row">
                      <%= f.label :password_confirmation,t('activerecord.attributes.user.password_confirmation'), class:"col-sm-3 col-form-label" %><br />
                      <div class="col-sm-7">
                        <%= f.password_field :password_confirmation, autocomplete: t('activerecord.attributes.user.password_confirmation'), class:"form-control"%>
                      </div>
                      <div class="">
                      <span toggle="#password-field" class=" fa-2x  fa fa-eye  confirm-psd"></span>
                    </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="offset-sm-2 col-sm-8">
                      <%= f.submit t('devise.registrations.edit.update') , class:"btn btn-primary" %>
                    </div>

                  </div>
                  <div class="form-group row">
                    <div class="offset-sm-2 col-sm-8">
                      <%= link_to t('helpers.button.back'), :back , class:"btn btn-primary fa fa-arrow-left"%>
                    </div>
                  </div>
                </form>
                <% end %>
              </div><!-- /.card-body -->
            </div>
            <!-- /.nav-tabs-custom -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
    <%=render 'layouts/partials/footer'%>
  </div>
</div>
